body {
    background-color: #2f4050;
}
.navbar {
    border-radius: 0;
}
#logo {
    width: 150px;
    height: 50px;
}
#logo img {
    width: 35%;
}
#dashboard_logo {
    display: block;
    margin: 0 auto;
    width: 80%;
}
.navbar-nav li {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}
.navbar-form {
    margin-right: 0px;
    margin-bottom: 0px;
}
.Line {
    margin-top: -20px;
}
.col-sm-10 {
    background-color: #ffffff;
}
#Side_Menu a {
    color:#9fb1c2;
}
#Side_Menu .active a {
    color: #ffffff;
    background-color: #27aae1;
    font-weight: bold;
}
#Side_Menu a:hover {
    color: #ffffff;
    font-weight: bold;
    background-color: #1ab394;
    display: block;
}
#logo_Dash {
    color: #0fb60f;
    margin-bottom: 20px;
}
#footer {
    padding: 10px;
    border-top: 1px solid black;
    color: #eeeeee;
    background-color: #211f22;
    text-align: center;
}
#footer p {
    padding-top: 5px;
}
.FieldInfo {
    color: rgb(251, 174, 44);
    font-size: 1.2em;
}
#title_style {
    color:#5e5eff; 
    font-weight:bold;
}
#Login_body {
    background: #ffffff;
}

