.navbar {
    border-radius: 0;
}
#logo {
    width: 150px;
    height: 50px;
}
#logo img {
    width: 35%;
}
.navbar-nav li {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}
.navbar-form {
    margin-right: 0px;
    margin-bottom: 0px;
}
.Line {
    margin-top: -20px;
}
#footer {
    padding: 10px;
    border-top: 1px solid black;
    color: #eeeeee;
    background-color: #211f22;
    text-align: center;
}
#footer p {
    padding-top: 5px;
}
.blogpost {
    background-color: #f5f5f5;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    overflow: hidden;
}
#heading {
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: #005e90;
}
#heading:hover {
    color: #0090db;
}
#search_button {
    margin-left: 10px;
}
.description {
    color: #868686;
    font-weight: bold;
    margin-top: -2px;
}
#devider {
    color: rgb(255, 141, 47);
}
.post {
    font-size: 1.1em;
    text-align: justify;
}
.btn-info {
    float: right;
    margin-bottom: 10px;
}
.FieldInfo {
    color: rgb(251, 174, 44);
    font-size: 1.2em;
}